package {{base_package}}.domain.user.model;import lombok.Data;@Datapublic class User {    private Long id;    private String username;    private String email;    private Integer status;    private String description;}
